.logo {
    padding-left: 48px;
    padding-top: 4px;
    background-color: #fff;
}

main{
    background-color: #b5b6f2;
    padding: 48px;
}
.formulario{
    background-color: #fff;
    width: 400px;
    padding: 8px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 500px;
    border-radius: 16px;
 
    
    
}
.form{
    display: flex;
    flex-direction: column;
    
}
.main{
    display: flex;
}

input{
    height: 30px;
    background-color: #f8f6f6;
    border: none;
    padding: 9px;
    margin: 10px 0 10px;
    
    
}
a{
    margin-left: 10px;
    color: black;
}

button{
    background-color: #C92071;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border:none ;
    margin-top: 10px;
}

.facebook{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 16px;
}