.itensDoCarrossel img{
    height: 720px;
}
.carousel-indicators {
    gap: 40px;

}

.carousel-indicators button {
    display: flex;
    max-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #C92071 !important;

}

.divqueima {
    background-color: rgb(245 245 245);
    display: flex;
    position: relative;
    padding: 100px;
    height: 720px;
}

.melhoresofertas {
    margin-left: 35px;
}

.melhores {
    font-size: 120%;
    color: rgb(246 170 28);
    margin-top: 20px;
    font: 16px;
}

.queimadeestoque {
    font-size: 64px;
    font-weight: 700;
    font-style: normal;

}

.imgfoguinho {
    display: flex;
    justify-self: end;
    position: absolute;
    left: 540px;
    top: 231px;
}

.consequat {
    font-size: 17.5px;
    opacity: 80%;
    font-weight: 400;
    margin: 40px 0 40px 0;
    line-height: 1.6;
}

.btn-verofertas {
    background-color: rgb(201 32 113);
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    font-size: 14px;
    font-family: "Inter" sans-serif;
    margin-top: 40px;
    margin-left: 90px;
}
.btn-verofertas:hover{
    background-color: #89194f;
}
.sapatoprodutos{
    width: 10px;
}

.sapato {
    display: flex;
    width: 100%;
    height: 690px;
    position: relative;
    bottom: 80px;
    left: 100px;

}

.bolinhasapato {
    position: absolute;
    right: 100px;
}