.pagina2 {
  display: flex;
  flex-direction: row;
}

.filtro {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-right: 0px;
  border-radius: 10px;
}
.card {
  display: inline-block;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
  margin-left: 40px;
  width: 1050px;
  /* height: 400px; */
}
