.jordan {
    background-color: white;
    padding: 115px 0 115px 0;
}

.jordangeral {
    display: flex;
    margin-left: 100px;
    gap: 100px;
}

.jordanimg {
    display: flex;
   

}
.divJordan {
    margin-right: 190px;
}

.jordanp {
    color: #C92071;
    font-family: "inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.75px;


}

.jordanp2 {
    font-family: "inter";
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #474747;
    margin-bottom: 20px;
    font-weight: 700;


}

.buttonJordan {
    color: white;
    background-color: #C92071;
    width: 200px;
    height: 40px;
    border: 1px none;
    border-radius: 8px;
    margin-top: 30px;


}
.buttonJordan:hover{
    background-color: #89194f;
}