body {
    background: #F9F8FE;
}

.container {
    margin: 20px;
    
}

.menu label {
    font-size: 14px;
    font-weight: 500;
    color: #474747;
   
}

.content {
    display: flex;
    gap: 80px;

}

.main-image {
    width: 670px;
    height: 520px;
}

.secondary-image {
    display: flex;
    top: 25px;
    position: relative;
    
}

main {
    top: 40px;
    position: relative;
}

.T-aside {
   
    position: relative;
    width: 600px;
    
    
    
} 
.aside h1 {
        font-weight: 700px;
        size: 32px;
        width: 500px;
        margin: 0;
        background-color: black;

         }





.d-block{
    background-color: lightcoral;
    width: 600px;
    height: 450px;
}
.d-block2{
    background-color: lightgreen;
    width: 600px;
    height: 450px;
}
.d-block3{
    background-color: lightblue;
    width: 600px;
    height: 450px;
}



.revolution {
    
   
}

.avalie{
    margin-right: 10px;
    margin-left: 10px;
}

