.Logo{
  padding-top: 25px;
  padding-left: 100px;
  }
  
.cadastro{
    text-align: center;
    font-weight: bold;
}

.CriarConta{
    text-align: start;
    padding-left: 433px;
   
}

.Entrega{
    text-align: start;
    padding-left: 433px;
}

.labelCadastro{
    display: block;
    padding: 10px;
    text-align: start;
    padding-left: 433px;
}

.caixinhaTermo{
    width: 30px;
    height: 15px;
    margin-top: -15px;

}

.DivTermo{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    padding-right: 10px;
    overflow: hidden;
    margin-left: 15px;
    height: 55px;
    width: 650px;
    
}

input[type = "checkbox"]:checked{
    accent-color: #C92071;
}
.ptermo{
    font-size: 16px;
    font-weight: 350;
    text-align: center;
}
.botao{
    width: 750px;
    height: 48px;
    margin: 20px 0px;
    color: rgb(245, 245, 245);
    background-color:#C92071;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}
.botao:hover{
    background-color: #89194f;
}

.hr1{
    width: 655px;
    margin-right: 900px;
}

.hr2{
    width: 655px;
    margin-right: 900px;
  }
